{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <h1>Sistema Genérico 1.0</h1>
        </div>
        
        <div class="row text-center">
            <p>Faça login para acessar o sistema:</p>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form id="form" method="post" class="form-login">
                    <div class="row">
                        <input type="text" name="usuario" class="form-control" placeholder="Digite seu usuário" required>
                    </div>
                    <div class="row">
                        <input type="password" name="senha" class="form-control" placeholder="Digite sua senha" style="margin-top: 10px; margin-bottom: 10px;" required>
                    </div>
                    <div class="row">
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
{% endblock %}     