{% extends 'base.html' %}

{% block content %}
    <div class="container text-center">
        <div class="row">
            <h1>Sistema Genérico 1.0</h1>
        </div>
        <div class="row">
            <p>Registre-se para poder acessar o sistema:</p>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form class="form-login">
                    <div class="row">
                        <input type="text" class="form-control text-below" placeholder="Nome" name="nome">
                    </div>
                    <div class="row">
                        <input type="text" class="form-control text-below" placeholder="Sobrenome" name="sobrenome">
                    </div>
                    <div class="row">
                        <input type="email" class="form-control text-below" placeholder="E-mail" name="email">
                    </div>
                    <div class="row">
                        <input type="password" class="form-control text-below" placeholder="Senha" name="senha">
                    </div>
                    <div class="row">
                        <input type="submit" class="btn btn-primary" value="Registrar">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}